<form>
    User name:<br>
      <input type="text" name="username"><br>
      User password:<br>
      <input type="password" name="psw"><br>
      <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other</br>
  <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle2" value="Car"> I have a car <br>
  <input type="button" onclick="alert('Hello World!')" value="Click Me!"><br>
  Quantity (between 1 and 5):<br>
  <input type="number" name="quantity" min="1" max="5"><br>
  Birthday:<br>
  <input type="date" name="bday"><br>
  Select your favorite color:<br>
  <input type="color" name="favcolor"><br>
  <input type="range" name="points" min="0" max="10"><br>
  <br>
  <input type="reset">
  <input type="submit">
</form>
